*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    height: 70px;
    background-color: #eeeeee;
}
nav .logo{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav img{
    height: 55px;
}
nav .elements{
    display: flex;
    align-items: center;
    flex: 1;
    height: auto;
    justify-content: center;
    
}
nav a{
    text-decoration: none;
    color: black;
}
nav .elements ul{
    list-style-type: none;
    display: flex;
    padding-left: 600px;
    padding-top: 15px;
}

nav .elements ul li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight:600;
    padding:0 20px ;

}
nav .elements ul li:hover{
    cursor: pointer;
}
.nav__link{
    opacity: 0.6;
}
.nav__link:hover{
    opacity: 1;
}
.actives{
    color: #071952;
    transition: 1s;
    opacity: 1;
}
.actives::after{
    content:'';
    height: 2px;
    width: 6.5%;
    top:69px ;
    background-color:#071952 ;
    position: absolute;
    transition: 2s;
}
nav .nav-btns{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex: 0.2;
  
}
#signup{
    background-color: #071952;
    border: none;
}